# Workflow to automatically create deliverables
name: Build on push

on:
  [push, pull_request]

jobs:
  build:
    name: Assembling artifacts
    runs-on: ubuntu-20.04

    # Note, to satisfy the asset library we need to make sure our zip files have a root folder
    # this is why we checkout into demo/godot_hand_pose_detector
    # and build plugin/godot_hand_pose_detector
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          path: demo/godot_hand_pose_detector
      - name: Create Godot Hand Pose Detector
        run: |
          mkdir plugin
          mkdir plugin/godot_hand_pose_detector
          mkdir plugin/godot_hand_pose_detector/addons
          cp -r demo/godot_hand_pose_detector/addons/hand_pose_detector plugin/godot_hand_pose_detector/addons
          cp demo/godot_hand_pose_detector/LICENSE plugin/godot_hand_pose_detector/addons/hand_pose_detector
          cp demo/godot_hand_pose_detector/CONTRIBUTORS.md plugin/godot_hand_pose_detector/addons/hand_pose_detector
          cp demo/godot_hand_pose_detector/VERSIONS.md plugin/godot_hand_pose_detector/addons/hand_pose_detector
          rm -rf demo/godot_hand_pose_detector/.git
          rm -rf demo/godot_hand_pose_detector/.github
      - name: Create Godot Hand Pose Detector library artifact
        uses: actions/upload-artifact@v2
        with:
          name: godot_hand_pose_detector
          path: |
            plugin
      - name: Create Godot Hand Pose Detector demo artifact
        uses: actions/upload-artifact@v2
        with:
          name: godot_hand_pose_detector_demo
          path: |
            demo
      - name: Zip asset
        run: |
          cd plugin
          zip -qq -r ../godot_hand_pose_detector.zip godot_hand_pose_detector
          cd ../demo
          zip -qq -r ../godot_hand_pose_detector_demo.zip godot_hand_pose_detector
          cd ..
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
      - name: Create and upload asset
        uses: ncipollo/release-action@v1
        with:
          allowUpdates: true
          artifacts: "godot_hand_pose_detector.zip,godot_hand_pose_detector_demo.zip"
          omitNameDuringUpdate: true
          omitBodyDuringUpdate: true
          token: ${{ secrets.GITHUB_TOKEN }}
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
